-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('VOTER', 'ADMIN');

-- CreateEnum
CREATE TYPE "ElectionStatus" AS ENUM ('DRAFT', 'PUBLISHED', 'AWAITING_APPROVAL', 'ACTIVE', 'PAUSED', 'CLOSED', 'ARCHIVED');

-- CreateTable
CREATE TABLE "User" (
    "id" SERIAL NOT NULL,
    "auth_id" TEXT,
    "fullname" TEXT NOT NULL,
    "voter_id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT,
    "aadhaar_number" TEXT,
    "mobile_number" TEXT,
    "wallet_address" TEXT,
    "has_voted" BOOLEAN NOT NULL DEFAULT false,
    "active_session_token" TEXT,
    "active_session_expires" TIMESTAMP(3),
    "role" "Role" NOT NULL DEFAULT 'VOTER',
    "registration_status" TEXT NOT NULL DEFAULT 'PENDING',
    "must_change_password" BOOLEAN NOT NULL DEFAULT false,
    "temp_password_expires_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "father_name" TEXT,
    "gender" TEXT,
    "dob" TEXT,
    "state_code" INTEGER,
    "constituency_code" INTEGER,
    "address" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Election" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "instructions" TEXT,
    "start_time" TIMESTAMP(3),
    "end_time" TIMESTAMP(3),
    "status" "ElectionStatus" NOT NULL DEFAULT 'DRAFT',
    "rules" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Election_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ElectionCandidate" (
    "id" SERIAL NOT NULL,
    "election_id" INTEGER NOT NULL,
    "candidate_name" TEXT NOT NULL,
    "party_name" TEXT,
    "party_symbol" TEXT,
    "state_code" INTEGER,
    "constituency_code" INTEGER,

    CONSTRAINT "ElectionCandidate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ElectionVoter" (
    "id" SERIAL NOT NULL,
    "election_id" INTEGER NOT NULL,
    "user_id" INTEGER NOT NULL,
    "has_voted" BOOLEAN NOT NULL DEFAULT false,
    "registration_time" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ElectionVoter_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Vote" (
    "id" SERIAL NOT NULL,
    "voter_id" TEXT NOT NULL,
    "election_id" INTEGER,
    "tx_hash" TEXT,
    "voted_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Vote_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AdminAuditLog" (
    "id" SERIAL NOT NULL,
    "admin_email" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "details" TEXT,
    "ip_address" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AdminAuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LoginHistory" (
    "id" SERIAL NOT NULL,
    "voter_id" TEXT NOT NULL,
    "ip_address" TEXT,
    "device_info" TEXT,
    "login_time" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" TEXT NOT NULL DEFAULT 'SUCCESS',

    CONSTRAINT "LoginHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OtpDeliveryLog" (
    "id" SERIAL NOT NULL,
    "recipient" TEXT NOT NULL,
    "purpose" TEXT NOT NULL,
    "success" BOOLEAN NOT NULL DEFAULT false,
    "error_msg" TEXT,
    "sent_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "OtpDeliveryLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "State" (
    "id" SERIAL NOT NULL,
    "code" INTEGER NOT NULL,
    "name" TEXT NOT NULL,
    "total_seats" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "State_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Constituency" (
    "id" SERIAL NOT NULL,
    "code" INTEGER NOT NULL,
    "state_code" INTEGER NOT NULL,
    "name" TEXT NOT NULL,
    "voters_count" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "Constituency_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SupportTicket" (
    "id" SERIAL NOT NULL,
    "user_id" TEXT NOT NULL,
    "issue_type" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'OPEN',
    "admin_reply" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SupportTicket_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "KeystrokeProfile" (
    "id" SERIAL NOT NULL,
    "user_email" TEXT NOT NULL,
    "sample_count" INTEGER NOT NULL DEFAULT 0,
    "hold_times" TEXT NOT NULL DEFAULT '[]',
    "flight_times" TEXT NOT NULL DEFAULT '[]',
    "mean_speed" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "std_deviation" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "is_enrolled" BOOLEAN NOT NULL DEFAULT false,
    "last_verified" TIMESTAMP(3),
    "last_score" DOUBLE PRECISION,
    "flagged_count" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "KeystrokeProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApprovedVoter" (
    "id" SERIAL NOT NULL,
    "email" TEXT NOT NULL,
    "fullname" TEXT,
    "voter_id" TEXT,
    "status" TEXT NOT NULL DEFAULT 'WHITELIST',
    "added_by" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ApprovedVoter_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MfaToken" (
    "id" SERIAL NOT NULL,
    "user_email" TEXT NOT NULL,
    "otp_hash" TEXT NOT NULL,
    "purpose" TEXT NOT NULL DEFAULT 'LOGIN',
    "expires_at" TIMESTAMP(3) NOT NULL,
    "verified" BOOLEAN NOT NULL DEFAULT false,
    "attempts" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MfaToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "QrVoteTicket" (
    "id" SERIAL NOT NULL,
    "user_email" TEXT NOT NULL,
    "ticket_token" TEXT NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,
    "used" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "QrVoteTicket_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ElectionNotification" (
    "id" SERIAL NOT NULL,
    "election_id" INTEGER NOT NULL,
    "type" TEXT NOT NULL,
    "sent_count" INTEGER NOT NULL DEFAULT 0,
    "sent_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ElectionNotification_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_auth_id_key" ON "User"("auth_id");

-- CreateIndex
CREATE UNIQUE INDEX "User_voter_id_key" ON "User"("voter_id");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "User_aadhaar_number_key" ON "User"("aadhaar_number");

-- CreateIndex
CREATE INDEX "User_state_code_constituency_code_idx" ON "User"("state_code", "constituency_code");

-- CreateIndex
CREATE INDEX "ElectionCandidate_state_code_constituency_code_idx" ON "ElectionCandidate"("state_code", "constituency_code");

-- CreateIndex
CREATE UNIQUE INDEX "ElectionVoter_election_id_user_id_key" ON "ElectionVoter"("election_id", "user_id");

-- CreateIndex
CREATE UNIQUE INDEX "State_code_key" ON "State"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Constituency_code_key" ON "Constituency"("code");

-- CreateIndex
CREATE UNIQUE INDEX "KeystrokeProfile_user_email_key" ON "KeystrokeProfile"("user_email");

-- CreateIndex
CREATE UNIQUE INDEX "ApprovedVoter_email_key" ON "ApprovedVoter"("email");

-- CreateIndex
CREATE INDEX "MfaToken_user_email_purpose_idx" ON "MfaToken"("user_email", "purpose");

-- CreateIndex
CREATE UNIQUE INDEX "QrVoteTicket_ticket_token_key" ON "QrVoteTicket"("ticket_token");

-- CreateIndex
CREATE INDEX "QrVoteTicket_user_email_idx" ON "QrVoteTicket"("user_email");

-- CreateIndex
CREATE INDEX "ElectionNotification_election_id_idx" ON "ElectionNotification"("election_id");

-- CreateIndex
CREATE UNIQUE INDEX "ElectionNotification_election_id_type_key" ON "ElectionNotification"("election_id", "type");

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_state_code_fkey" FOREIGN KEY ("state_code") REFERENCES "State"("code") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_constituency_code_fkey" FOREIGN KEY ("constituency_code") REFERENCES "Constituency"("code") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ElectionCandidate" ADD CONSTRAINT "ElectionCandidate_election_id_fkey" FOREIGN KEY ("election_id") REFERENCES "Election"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ElectionCandidate" ADD CONSTRAINT "ElectionCandidate_state_code_fkey" FOREIGN KEY ("state_code") REFERENCES "State"("code") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ElectionCandidate" ADD CONSTRAINT "ElectionCandidate_constituency_code_fkey" FOREIGN KEY ("constituency_code") REFERENCES "Constituency"("code") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ElectionVoter" ADD CONSTRAINT "ElectionVoter_election_id_fkey" FOREIGN KEY ("election_id") REFERENCES "Election"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ElectionVoter" ADD CONSTRAINT "ElectionVoter_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Vote" ADD CONSTRAINT "Vote_voter_id_fkey" FOREIGN KEY ("voter_id") REFERENCES "User"("voter_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Vote" ADD CONSTRAINT "Vote_election_id_fkey" FOREIGN KEY ("election_id") REFERENCES "Election"("id") ON DELETE SET NULL ON UPDATE CASCADE;

